<div class="d-grid gap-3">
  <div class="contact-rounded shadow bg-primary text-white text-center p-3 w-25 mx-auto">
    <%= fa_icon 'address-book', class: 'contact-icon-xl-size' %>
  </div>
  <span class="text-center fw-bold">An application to management your contacts, please</span>
  <%= link_to 'Login', root_path, class: 'btn btn-primary'%>
  <span class="text-center">or</span>
  <%= link_to 'Register', root_path, class: 'btn btn-outline-primary'%>
</div>